<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <link href="assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="archive category">
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <!-- //site-title when you use logo image.
                  <h1 class="site-title title-image"><a href="index.html" rel="home"><img src="assets/img/danish-image-logo.png" alt="Danish."></a></h1>
                  -->
                  <h1 class="site-title"><a href="index.html" rel="home">Danish.</a></h1>
                  <!-- //site-description if you wanna use it.
                  <p class="site-description">Traveler and Young Designer //</p>
                  -->
                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Home</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="index.html">Home classic</a></li>
                          <li class="menu-item"><a href="index-classic-fullwidth.html">Home classic fullwidth</a></li>
                          <li class="menu-item"><a href="index-classic-fullwidth-alt.html">Home classic fullwidth alt.</a></li>
                          <li class="menu-item"><a href="index-grid-fullwidth.html">Home grid fullwidth</a></li>
                          <li class="menu-item"><a href="index-grid-sidebar.html">Home grid sidebar</a></li>
                          <li class="menu-item"><a href="index-list-fullwidth.html">Home list fullwidth</a></li>
                          <li class="menu-item"><a href="index-list-sidebar.html">Home list sidebar</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="about.html">About</a></li>
                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Blog</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="post-format.html">Post Formats</a></li>
                          <li class="menu-item"><a href="#">Post Single</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="single.html">Single</a></li>
                              <li class="menu-item"><a href="single-quote.html">Single Quote</a></li>
                              <li class="menu-item"><a href="single-gallery.html">Single Gallery</a></li>
                              <li class="menu-item"><a href="single-video.html">Single Video</a></li>
                              <li class="menu-item"><a href="single-audio.html">Single Audio</a></li>
                              <li class="menu-item"><a href="single-image.html">Single Image</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Portfolio</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="portfolio.html">Portfolio</a></li>
                          <li class="menu-item"><a href="single-portfolio.html">Portfolio Single</a></li>
                          <li class="menu-item"><a href="archive-portfolio.html">Portfolio Archive</a></li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="archive.html">Archive</a></li>
                          <li class="menu-item"><a href="category.html">Category</a></li>
                          <li class="menu-item"><a href="search.html">Search</a></li>
                          <li class="menu-item"><a href="page.html">Page</a></li>
                          <li class="menu-item"><a href="404.html">404 Page</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->

      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2>Category: Inspiration. <span>//</span></h2>
                <p>A good inspiration and will inspiring people</p>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <header class="page-header">
                    <h1 class="page-title">Category: inspiration</h1>
                    <div class="taxonomy-description">
                      <p>A good inspiration and will inspiring people</p>
                    </div>
                  </header>

                  <div class="row container-post">
                    <div class="col-sm-6 col-xs-12">
                      <article class="post format-standard hentry">
                        <div class="post-container">
                          <div class="post-content">
                            <img src="assets/img/danish-image-post-04.jpg" alt="Do not leave your camera">
                            <div class="heading-title heading-small">
                              <span class="post-meta-cat"><a href="archive.html">travel</a></span>
                              <h2><a href="single.html" rel="bookmark">Do not leave your camera when traveling</a></h2>
                            </div><!-- .heading-title -->
                            <div class="post-meta">
                              <span class="posted-on">Posted on <a href="single.html" rel="bookmark"><time class="entry-date" datetime="2016-05-09">May 9, 2016</time></a></span>
                              <span class="byline"> by <span class="author vcard"><a class="url fn n" href="#">Jane</a></span></span>
                            </div><!-- .post-meta -->
                            <p>The literature on creativity suggests that there are at least a few personality traits that promote creative behavior, such as openness, a willingness to take risks and an ability to tolerate ambiguity and cope with novel situations. <a href="single.html" class="more-link"><span class="moretext">Continue reading</span> <span class="screen-reader-text">Do not leave your camera when traveling</span></a>
                            </p>
                          </div><!-- .post-content -->
            
                          <div class="post-atribut">
                            <div class="row">
                              <div class="col-xs-4">
                                <a href="single.html"><span><i class="fa fa-clock-o"></i> 4m</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 57</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="single.html"><span><i class="fa fa-eye"></i> 6</span></a>
                              </div>
                            </div><!-- .row -->
                          </div><!-- .post-atribut -->
                        </div>
                      </article><!-- #post-## -->
                    </div><!-- .col-sm-6 -->

                    <div class="col-sm-6 col-xs-12">
                      <article class="post format-quote hentry">
                        <div class="post-container">
                          <div class="post-content post-thumbnail" style="background-image: url(assets/img/danish-image-post-06.jpg);">
                            <a href="single-quote.html">
                              <blockquote>
                                <p>Cukuplah rindumu yang biasa saja. Dan rinduku pun juga akan. Rindu yang biru atau ungu. Atau rindu yang abu-abu. Jika kau mau.</p>
                                <footer>Tarjono</footer>
                              </blockquote>
                            </a>
                          </div><!-- .post-content -->
                          <div class="post-atribut">
                            <div class="row">
                              <div class="col-xs-4">
                                <a href="single.html"><span><i class="fa fa-clock-o"></i> 11s</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 0</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="#"><span><i class="fa fa-eye"></i> 3</span></a>
                              </div>
                            </div><!-- .row -->
                          </div><!-- .post-atribut -->
                        </div><!-- .post-container -->
                      </article><!-- #post-## -->
                    </div><!-- .col-sm-6 -->

                    <div class="col-sm-6 col-xs-12">
                      <article class="post format-standard hentry">
                        <div class="post-container">
                          <div class="post-content">
                            <img src="assets/img/danish-image-post-05.jpg" alt="grow your own succulent anywhere">
                            <div class="heading-title heading-small">
                              <span class="post-meta-cat"><a href="archive.html">nature</a></span>
                              <h2><a href="single.html" rel="bookmark">Grow your own succulent anywhere</a></h2>
                            </div><!-- .heading-title -->
                            <div class="post-meta">
                              <span class="posted-on">Posted on <a href="single.html" rel="bookmark"><time class="entry-date" datetime="2016-05-09">May 9, 2016</time></a></span>
                              <span class="byline"> by <span class="author vcard"><a class="url fn n" href="#">Jane</a></span></span>
                            </div><!-- .post-meta -->
                            <p>These people aren’t assigned to us, but chosen by us—and isn’t that as worthy of celebration as any confluence of fate and genetics? These carefully selected families continue to grow throughout our lives without a ticking sociological to worry about. <a href="single.html" class="more-link"><span class="moretext">Continue reading</span> <span class="screen-reader-text">grow your own succulent anywhere</span></a>
                            </p>
                          </div><!-- .post-content -->
            
                          <div class="post-atribut">
                            <div class="row">
                              <div class="col-xs-4">
                                <a href="single.html"><span><i class="fa fa-clock-o"></i> 4m</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 57</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="single.html"><span><i class="fa fa-eye"></i> 6</span></a>
                              </div>
                            </div><!-- .row -->
                          </div><!-- .post-atribut -->
                        </div>
                      </article><!-- #post-## -->
                    </div><!-- .col-md-4 -->

                    <div class="col-sm-6 col-xs-12">
                      <article class="post format-quote hentry">
                        <div class="post-container">
                          <div class="post-content post-thumbnail" style="background-image: url(assets/img/danish-image-portfolio-12.jpg);">
                            <a href="single-quote.html">
                              <blockquote>
                                <p>Sesungguhnya Kami benar-benar telah membawa kebenaran kepada kamu tetapi kebanyakan di antara kamu benci pada kebenaran itu.</p>
                                <footer>Q.S. Az zukhruf 78 (43:78)</footer>
                              </blockquote>
                            </a>
                          </div><!-- .post-content -->
                          <div class="post-atribut">
                            <div class="row">
                              <div class="col-xs-4">
                                <a href="single.html"><span><i class="fa fa-clock-o"></i> 11s</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="#"><span><i class="fa fa-comments"></i> 421</span></a>
                              </div>
                              <div class="col-xs-4">
                                <a href="#"><span><i class="fa fa-eye"></i> 1987</span></a>
                              </div>
                            </div><!-- .row -->
                          </div><!-- .post-atribut -->
                        </div><!-- .post-container -->
                      </article><!-- #post-## -->
                    </div><!-- .col-sm-6 -->

                    <!-- navigation -->
                    <div class="col-sm-12">
                      <nav class="navigation pagination" role="navigation">
                        <h2 class="screen-reader-text">Posts navigation</h2>
                        <div class="nav-links">
                          <span class="page-numbers current">1</span>
                          <a class="page-numbers" href="#">2</a>
                          <span class="page-numbers dots">…</span>
                          <a class="page-numbers" href="#">4</a>
                          <a class="next page-numbers" href="#">Next</a>
                        </div><!-- .nav-links -->
                      </nav><!-- .navigation -->
                    </div><!-- .col-sm-12 -->

                  </div><!-- .container-post -->
                </div><!-- .col-md-8 -->

                <div class="col-md-4">
                  <section class="widget widget_search">
                    <form role="search" method="get" class="search-form" action="">
                    <label>
                      <span class="screen-reader-text">Search for:</span>
                      <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                    </form><!-- search-form -->
                  </section><!-- .widget_search -->

                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="assets/img/danish-image-about.jpg" alt="Danish Brown">
                      <div class="about-author-info">
                        <h2 class="widget-title">Danish Brown</h2>
                        <span class="author-subtitle">Young Designer</span>
                        <div class="author-description">
                          <p>Hello i’m danish. I’m 23 years old. I’m a girl who has long hair, big eyes with nice eyebrows, big…</p>
                          <a href="about.html" class="more-link"><span class="moretext">More biography</span></a>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="https://www.facebook.com/Template-Ninja-1555671317979815/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="http://twitter.com/_templateninja" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/templateninja/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section><!-- .danish_widget_about -->

                  <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title">Popular Posts</h2>
                    <ul>
                      <li>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="assets/img/danish-image-post-thumbnail-01.jpg" alt="Prepare your luggage necessary">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="single.html" rel="bookmark">Prepare your luggage necessary when traveling</a>
                            </h4>
                            <span class="entry-category"><a href="archive.html">Travel</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                      <li>
                        <div class="popular-entry-container ">
                          <div class="entry-image">
                            <img src="assets/img/danish-image-post-thumbnail-02.jpg" alt="how beautiful you are">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="single.html" rel="bookmark">You never know how beautiful you are</a>
                            </h4>
                            <span class="entry-category"><a href="archive.html">Love Life</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                      <li>
                        <div class="popular-entry-container ">
                          <div class="entry-image">
                            <img src="assets/img/danish-image-post-thumbnail-03.jpg" alt="Hey, autumn is coming!">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title"><a href="single.html" rel="bookmark">Hey, autumn is coming!</a></h4>
                            <span class="entry-category"><a href="archive.html">Nature</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                    </ul>
                  </section><!-- .danish_widget_popular_entries -->
                  
                  <section class="widget widget_archive">
                    <h2 class="widget-title">Archives</h2>
                    <select name="archive-dropdown">
                      <option value="">Select Month</option>
                      <option value="">June 2016 &nbsp;(13)</option>
                      <option value="">April 2016 &nbsp;(79)</option>
                      <option value="">March 2016 &nbsp;(28)</option>
                    </select>
                  </section><!-- .widget_archive -->

                </div><!-- .col-md-4 -->
              </div><!-- .row -->
            </div><!-- .container -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <section class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                  <a href="archive.html">beauty</a> <a href="archive.html">destiny</a>
                  <a href="archive.html">happy</a> <a href="archive.html">inspiring</a>
                  <a href="archive.html">live</a> <a href="archive.html">love live</a>
                  <a href="archive.html">tips</a> <a href="archive.html">captions</a>
                </div>
              </section><!-- .widget_tag_cloud -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-3">
              <section class="widget widget_recent_entries">
                <h3 class="widget-title">Headline</h3>
                <ul>
                  <li>
                    <a href="single.html">Beauty is not just what you see</a>
                    <span class="post-date">May 19, 2016</span>
                  </li>
                  <li>
                    <a href="single.html">You say: Dont leave me, but you are gone. Liar</a>
                    <span class="post-date">May 9, 2016</span>
                  </li>
                  <li>
                    <a href="single.html">You never know how beautiful you are</a>
                    <span class="post-date">May 5, 2016</span>
                  </li>
                </ul>
              </section><!-- .widget_recent_entries -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->

      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copy-left">
              Copyright © 2016 <a href="http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
              <ul class="social-icon">
                <li><a href="http://twitter.com/_templateninja" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Template-Ninja-1555671317979815" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/templateninja/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #copyright -->

    </div><!-- #page -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/jquery.justifiedGallery.min.js"></script>
    <script src="assets/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/plugins/jquery.isotope.min.js"></script>
    <script src="assets/plugins/masonry.pkgd.min.js"></script>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/js/skip-link-focus-fix.js"></script>
    <script src="assets/js/script.js"></script>

  </body>
</html>