<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/magnific-popup.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="page">
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <!-- //site-title when you use logo image.
                  <h1 class="site-title title-image"><a href="index.html" rel="home"><img src="../assets/img/danish-image-logo.png" alt="Danish."></a></h1>
                  -->
                  <h1 class="site-title"><a href="/index.html" rel="home">Danish.</a></h1>
                  <!-- //site-description if you wanna use it.
                  <p class="site-description">Traveler and Young Designer //</p>
                  -->
                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Home</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/index.html">Home classic</a></li>
                          <li class="menu-item"><a href="/common/index-classic-fullwidth.html">Home classic fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-classic-fullwidth-alt.html">Home classic fullwidth alt.</a></li>
                          <li class="menu-item"><a href="/common/index-grid-fullwidth.html">Home grid fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-grid-sidebar.html">Home grid sidebar</a></li>
                          <li class="menu-item"><a href="/common/index-list-fullwidth.html">Home list fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-list-sidebar.html">Home list sidebar</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/common/about.html">About</a></li>
                      <li class="menu-item"><a href="/common/contact.html">Contact</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Blog</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/post-format.html">Post Formats</a></li>
                          <li class="menu-item"><a href="#">Post Single</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/common/single.html">Single</a></li>
                              <li class="menu-item"><a href="/common/single-quote.html">Single Quote</a></li>
                              <li class="menu-item"><a href="/common/single-gallery.html">Single Gallery</a></li>
                              <li class="menu-item"><a href="/common/single-video.html">Single Video</a></li>
                              <li class="menu-item"><a href="/common/single-audio.html">Single Audio</a></li>
                              <li class="menu-item"><a href="/common/single-image.html">Single Image</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Portfolio</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/portfolio.html">Portfolio</a></li>
                          <li class="menu-item"><a href="/common/single-portfolio.html">Portfolio Single</a></li>
                          <li class="menu-item"><a href="/common/archive-portfolio.html">Portfolio Archive</a></li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/archive.html">Archive</a></li>
                          <li class="menu-item"><a href="/common/category.html">Category</a></li>
                          <li class="menu-item"><a href="/common/search.html">Search</a></li>
                          <li class="menu-item"><a href="/common/page.html">Page</a></li>
                          <li class="menu-item"><a href="/common/404.html">404 Page</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->

      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('../assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2>Contact. <span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            <!-- map -->
            <div class="map" data-lat="-7.866315" data-lng="110.389574" data-info-window-title="<strong>Danish</strong>" data-info-window-content="<p>East Imogiri St. 9.5, Yogyakarta<br>Indonesia.</p>"></div><!-- .map -->

            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <h3>Office Address</h3>
                  <address>
                    <strong>AvriqqLabs, Inc.</strong><br>
                    231 Yogyakarta, INA 55791<br>
                    mail@domain.com<br>
                    http://templateninja.net <br>
                    <abbr title="Phone">Telp.</abbr> (0274) 441-5001
                  </address>
                  <br>
                  <p><i class="fa fa-clock-o"></i> <strong>Mon</strong> - <strong>Fri:</strong> 10 AM to 4 PM<br>
                  <i class="fa fa-clock-o"></i> <strong>Sat</strong> - <strong>Sun:</strong> 10 AM to 3 PM</p>
                </div><!-- .col-sm-3 -->

                <div class="col-sm-9">
                  <h3>Send Message</h3>
                  <p>If you wanna like to contact me, please fill the form bellow.</p>
                  <form class="comment-form">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Enter Your Name : ">
                        <input type="email" class="form-control" placeholder="Enter Your Email : ">
                        <input type="text" class="form-control" placeholder="Enter Your Subject : ">
                      </div><!-- .col-md-6 -->
                      <div class="col-md-6 col-sm-6">
                        <textarea class="form-control" rows="4" placeholder="Type Your Message : "></textarea>
                        <input type="submit" class="btn btn-danish btn-lg btn-block">
                      </div><!-- .col-md-6 -->
                    </div><!-- .row -->
                  </form><!-- .comment-form -->
                </div><!-- .col-sm-9 -->
              </div><!-- .row -->
            </div><!-- .container -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <section class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                  <a href="/common/archive.html">beauty</a> <a href="/common/archive.html">destiny</a>
                  <a href="/common/archive.html">happy</a> <a href="/common/archive.html">inspiring</a>
                  <a href="/common/archive.html">live</a> <a href="/common/archive.html">love live</a>
                  <a href="/common/archive.html">tips</a> <a href="/common/archive.html">captions</a>
                </div>
              </section><!-- .widget_tag_cloud -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-3">
              <section class="widget widget_recent_entries">
                <h3 class="widget-title">Headline</h3>
                <ul>
                  <li>
                    <a href="/common/single.html">Beauty is not just what you see</a>
                    <span class="post-date">May 19, 2016</span>
                  </li>
                  <li>
                    <a href="/common/single.html">You say: Dont leave me, but you are gone. Liar</a>
                    <span class="post-date">May 9, 2016</span>
                  </li>
                  <li>
                    <a href="/common/single.html">You never know how beautiful you are</a>
                    <span class="post-date">May 5, 2016</span>
                  </li>
                </ul>
              </section><!-- .widget_recent_entries -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->

      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copy-left">
              Copyright © 2016 <a href="http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
              <ul class="social-icon">
                <li><a href="http://twitter.com/_templateninja" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Template-Ninja-1555671317979815" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/templateninja/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #copyright -->

    </div><!-- #page -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../assets/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="http://maps.google.com/maps/api/js"></script> -->
    <script src="../assets/plugins/gmap3.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtR223ih2ZwVJX2SGBixD3p87Aa8RV2Is"></script>
    <script src="../assets/js/map.js"></script>
    <script src="../assets/plugins/jquery.justifiedGallery.min.js"></script>
    <script src="../assets/plugins/jquery.magnific-popup.min.js"></script>
    <script src="../assets/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="../assets/plugins/jquery.isotope.min.js"></script>
    <script src="../assets/plugins/masonry.pkgd.min.js"></script>
    <script src="../assets/js/navigation.js"></script>
    <script src="../assets/js/skip-link-focus-fix.js"></script>
    <script src="../assets/js/script.js"></script>

  </body>
</html>