<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <link href="assets/css/skin/skin-skyblue.min.css" rel="stylesheet">
	
	<!-- LESS -->
	<link rel="stylesheet/less" type="text/css" href="assets/less/dialog.less" />
	<script>
	  less = {
	    env: "development",
	    async: false,
	    fileAsync: false,
	    poll: 1000,
	    functions: {},
	    dumpLineNumbers: "comments",
	    relativeUrls: false,
	    rootpath: ":/a.com/"
	  };
	</script>
	<script src="assets/js/less.min.js" type="text/javascript"></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="home blog">
  <!-- test login -->
  <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
  <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
  </form>
  <!-- end -->
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <!-- //site-title when you use logo image.
                  <h1 class="site-title title-image"><a href="index.html" rel="home"><img src="assets/img/danish-image-logo.png" alt="Danish."></a></h1>
                  -->
                  <h1 class="site-title"><a href="/index.html" rel="home">Danish.</a></h1>
                  <!-- //site-description if you wanna use it.
                  <p class="site-description">Traveler and Young Designer //</p>
                  -->
                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li id="loginlink" class="menu-item"><a href="javascript:void(0)">Login</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Home</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/index.html">Home classic</a></li>
                          <li class="menu-item"><a href="/common/index-classic-fullwidth.html">Home classic fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-classic-fullwidth-alt.html">Home classic fullwidth alt.</a></li>
                          <li class="menu-item"><a href="/common/index-grid-fullwidth.html">Home grid fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-grid-sidebar.html">Home grid sidebar</a></li>
                          <li class="menu-item"><a href="/common/index-list-fullwidth.html">Home list fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-list-sidebar.html">Home list sidebar</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/common/about.html">About</a></li>
                      <li class="menu-item"><a href="/common/contact.html">Contact</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Blog</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/post-format.html">Post Formats</a></li>
                          <li class="menu-item"><a href="#">Post Single</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/common/single.html">Single</a></li>
                              <li class="menu-item"><a href="/common/single-quote.html">Single Quote</a></li>
                              <li class="menu-item"><a href="/common/single-gallery.html">Single Gallery</a></li>
                              <li class="menu-item"><a href="/common/single-video.html">Single Video</a></li>
                              <li class="menu-item"><a href="/common/single-audio.html">Single Audio</a></li>
                              <li class="menu-item"><a href="/common/single-image.html">Single Image</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Portfolio</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/portfolio.html">Portfolio</a></li>
                          <li class="menu-item"><a href="/common/single-portfolio.html">Portfolio Single</a></li>
                          <li class="menu-item"><a href="/common/archive-portfolio.html">Portfolio Archive</a></li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/archive.html">Archive</a></li>
                          <li class="menu-item"><a href="/common/category.html">Category</a></li>
                          <li class="menu-item"><a href="/common/search.html">Search</a></li>
                          <li class="menu-item"><a href="/common/page.html">Page</a></li>
                          <li class="menu-item"><a href="/common/404.html">404 Page</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->

      <!-- #header -->
      <section id="header" style="background-image: url('assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <blockquote>
                <p>Mendapatkan hati wanita cantik itu tidak mudah, apalagi jika kamu tidak terlalu lucu ~</p>
                <small>Tarjono</small>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- featured -->
      <div id="featured" class="section-featured">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('assets/img/danish-image-category-01.jpg');">
                  <h3><a href="#">Travel</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->

            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('assets/img/danish-image-category-02.jpg');">
                  <h3><a href="#">Nature</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->

            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('assets/img/danish-image-category-03.jpg');">
                  <h3><a href="#">Love life</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- #featured -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-md-8 page-default">
                  <article class="post format-standard hentry">
                    <div class="post-container">
                      <div class="post-content">
                        <img src="assets/img/danish-image-post-04.jpg" alt="I will leave you asap">
                        <div class="heading-title heading-small">
                          <span class="post-meta-cat"><a href="/common/archive.html">Travel</a></span>
                          <h2><a href="/common/single.html" rel="bookmark">Do not leave your camera when traveling</a></h2>
                        </div><!-- .heading-small -->
                          
                        <div class="post-meta">
                          <span class="posted-on">
                            Posted on <a href="/common/single.html" rel="bookmark"> <time class="entry-date" datetime="2016-05-26">May 26, 2016</time> </a>
                          </span><!-- .posted-on -->
                          <span class="byline">
                            by <span class="author vcard"><a class="url fn n" href="/common/archive.html">Jane</a></span>
                          </span><!-- .byline -->
                          <span class="reading-estimation">11 min read</span>
                        </div><!-- .post-meta -->
                        <p>Balancing a composition involves arranging both positive elements and negative space in such a way that no one area of the design overpowers other areas. Everything works together and fits together in a seamless whole. The individual parts contribute to their sum but don’t try to become the sum. An unbalanced composition can lead to tension. When a design is unbalanced.
                          <a href="/common/single.html" class="more-link">
                            <span class="moretext">Continue reading</span> <span class="screen-reader-text">Do not leave your camera when traveling</span>
                          </a><!-- .more-link -->
                        </p>
                      </div><!-- .post-content -->
                    </div><!-- .post-container -->
                  </article><!-- .post -->

                  <article class="post format-standard hentry">
                    <div class="post-container">
                      <div class="post-content">
                        <img src="assets/img/danish-image-post-03.jpg" alt="Beautiful forest at mount Sindoro">
                        <div class="heading-title heading-small">
                          <span class="post-meta-cat"><a href="/common/archive.html">Nature</a></span>
                          <h2><a href="/common/single.html" rel="bookmark">Beautiful forest at mount Sindoro</a></h2>
                        </div><!-- .heading-small -->
                          
                        <div class="post-meta">
                          <span class="posted-on">
                            Posted on <a href="/common/single.html" rel="bookmark"> <time class="entry-date" datetime="2016-05-26">April 12, 2016</time> </a>
                          </span><!-- .posted-on -->
                          <span class="byline">
                            by <span class="author vcard"><a class="url fn n" href="/common/archive.html">Danish</a></span>
                          </span><!-- .byline -->
                          <span class="reading-estimation">8 min read</span>
                        </div><!-- .post-meta -->
                        <p>The visual interest is balanced, which keeps viewers engaged with the design. Without visual balance, viewers might not see all areas of the design. They probably won’t spend any time in areas with less visual weight or interest. Any information in those areas could easily go unnoticed. 
                          <a href="/common/single.html" class="more-link">
                            <span class="moretext">Continue reading</span> <span class="screen-reader-text">Beautiful forest at mount Sindoro</span>
                          </a><!-- .more-link -->
                        </p>
                      </div><!-- .post-content -->
                    </div><!-- .post-container -->
                  </article><!-- .post -->

                  <article class="post format-standard hentry">
                    <div class="post-container">
                      <div class="post-content">
                        <img src="assets/img/danish-image-post-02.jpg" alt="Hold my hand tightly">
                        <div class="heading-title heading-small">
                          <span class="post-meta-cat"><a href="/common/archive.html">Love Life</a></span>
                          <h2><a href="/common/single.html" rel="bookmark">Hold my hand tightly and never loose</a></h2>
                        </div><!-- .heading-small -->
                          
                        <div class="post-meta">
                          <span class="posted-on">
                            Posted on <a href="/common/single.html" rel="bookmark"> <time class="entry-date" datetime="2016-05-26">May 2, 2016</time> </a>
                          </span><!-- .posted-on -->
                          <span class="byline">
                            by <span class="author vcard"><a class="url fn n" href="/common/archive.html">Brown</a></span>
                          </span><!-- .byline -->
                          <span class="reading-estimation">15 min read</span>
                        </div><!-- .post-meta -->
                        <p>Just as in the physical world, visual balance is a good thing. It’s desirable in and of itself. An unbalanced composition can feel uncomfortable for the viewer. Look back at the second of the three seesaw images — it looks wrong because we can tell that the seesaw shouldn’t be in balance. Visual weight is a measure of the visual interest of an element or area in a design. When a composition is visually balanced, every part of it holds some interest.
                          <a href="/common/single.html" class="more-link">
                            <span class="moretext">Continue reading</span> <span class="screen-reader-text">Hold my hand tightly and never loose</span>
                          </a><!-- .more-link -->
                        </p>
                      </div><!-- .post-content -->
                    </div><!-- .post-container -->
                  </article><!-- .post -->

                  <nav class="navigation posts-navigation" role="navigation">
                    <h2 class="screen-reader-text">Posts navigation</h2>
                    <div class="nav-links">
                      <div class="nav-previous"><a href="#">Older posts</a></div>
                      <div class="nav-next"><a href="#">Newer posts</a></div>
                    </div>
                  </nav><!-- .navigation -->
                </div><!-- .col-md-8 -->

                <div class="col-md-4">
                  <section class="widget widget_search">
                    <form role="search" method="get" class="search-form" action="">
                    <label>
                      <span class="screen-reader-text">Search for:</span>
                      <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                    </form><!-- search-form -->
                  </section><!-- .widget_search -->

                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="assets/img/danish-image-about.jpg" alt="Danish Brown">
                      <div class="about-author-info">
                        <h2 class="widget-title">Danish Brown</h2>
                        <span class="author-subtitle">Young Designer</span>
                        <div class="author-description">
                          <p>Hello i’m danish. I’m 23 years old. I’m a girl who has long hair, big eyes with nice eyebrows, big…</p>
                          <a href="/common/about.html" class="more-link"><span class="moretext">More biography</span></a>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="https://www.facebook.com/Template-Ninja-1555671317979815/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="http://twitter.com/_templateninja" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/templateninja/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section><!-- .danish_widget_about -->

                  <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title">Popular Posts</h2>
                    <ul>
                      <li>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="assets/img/danish-image-post-thumbnail-01.jpg" alt="Prepare your luggage necessary">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="single.html" rel="bookmark">Prepare your luggage necessary when traveling</a>
                            </h4>
                            <span class="entry-category"><a href="archive.html">Travel</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                      <li>
                        <div class="popular-entry-container ">
                          <div class="entry-image">
                            <img src="assets/img/danish-image-post-thumbnail-02.jpg" alt="how beautiful you are">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/common/single.html" rel="bookmark">You never know how beautiful you are</a>
                            </h4>
                            <span class="entry-category"><a href="/common/archive.html">Love Life</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                      <li>
                        <div class="popular-entry-container ">
                          <div class="entry-image">
                            <img src="assets/img/danish-image-post-thumbnail-03.jpg" alt="Hey, autumn is coming!">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title"><a href="/common/single.html" rel="bookmark">Hey, autumn is coming!</a></h4>
                            <span class="entry-category"><a href="/common/archive.html">Nature</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                    </ul>
                  </section><!-- .danish_widget_popular_entries -->

                  <section class="widget widget_recent_entries">    
                    <h2 class="widget-title">Recent Posts</h2>
                    <ul>
                      <li>
                        <a href="/common/single.html">How to make a cup of coffee more delicious</a>
                        <span class="post-date">June 16, 2016</span>
                      </li>
                      <li>
                        <a href="/common/single.html">You say: Dont leave me, but you are gone. Liar</a>
                        <span class="post-date">May 8, 2016</span>
                      </li>
                      <li>
                        <a href="/common/single.html">Hey, keep this candle burn lighter and lighter. Together</a>
                        <span class="post-date">April 27, 2016</span>
                      </li>
                    </ul>
                  </section><!-- .widget_recent_entries -->

                  <section class="widget widget_archive">
                    <h2 class="widget-title">Archives</h2>
                    <ul>
                      <li><a href="/common/archive.html">June 2016</a>&nbsp;(1)</li>
                      <li><a href="/common/archive.html">April 2016</a>&nbsp;(1)</li>
                      <li><a href="/common/archive.html">March 2016</a>&nbsp;(3)</li>
                    </ul>
                  </section><!-- .widget_archive -->

                  <section class="widget widget_categories">
                    <h2 class="widget-title">Categories</h2>
                    <ul>
                      <li><a href="/common/archive.html">Inspiration</a> (14)</li>
                      <li><a href="/common/archive.html">Love Life</a> (41)</li>
                      <li><a href="/common/archive.html">Nature</a> (13)</li>
                      <li><a href="/common/archive.html">Travel</a> (16)</li>
                    </ul>
                  </section><!-- .widget_categories -->

                  <section class="widget widget_text">
                    <h2 class="widget-title">Useful Links</h2>
                    <div class="textwidget">
                      <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Desclaimer</a></li>
                        <li><a href="#">Support</a></li>
                      </ul>
                    </div><!-- .textwidget -->
                  </section><!-- .widget_text -->

                  <section class="widget widget_recent_comments">
                    <h2 class="widget-title">Recent Comments</h2>
                    <ul id="recentcomments">
                      <li>
                        <span class="comment-author-link">Jane</span> 
                        on <a href="/common/single.html">You look so charming when wearing a glasses</a>
                      </li>
                      <li>
                        <span class="comment-author-link">Smith</span> 
                        on <a href="/common/single.html">This road looks foggy</a>
                      </li>
                      <li>
                        <span class="comment-author-link"><a href="#">Danish</a></span> 
                        on <a href="/common/single.html">Beauty is not just what you see</a>
                      </li>
                    </ul>
                  </section><!-- .widget_recent_comments -->

                  <section class="widget widget_tag_cloud">
                    <h2 class="widget-title">Tags</h2>
                    <div class="tagcloud">
                      <a href="/common/archive.html">beauty</a> <a href="/common/archive.html">destiny</a>
                      <a href="/common/archive.html">happy</a> <a href="/common/archive.html">inspiring</a>
                      <a href="/common/archive.html">live</a> <a href="/common/archive.html">love live</a>
                      <a href="/common/archive.html">tips</a> <a href="/common/archive.html">captions</a>
                      <a href="/common/archive.html">dowork</a> <a href="/common/archive.html">mothership</a>
                    </div>
                  </section><!-- .widget_tag_cloud -->
                </div><!-- .col-md-4 -->
              </div><!-- .row -->
            </div><!-- .container -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <section class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                  <a href="/common/archive.html">beauty</a> <a href="/common/archive.html">destiny</a>
                  <a href="/common/archive.html">happy</a> <a href="/common/archive.html">inspiring</a>
                  <a href="/common/archive.html">live</a> <a href="/common/archive.html">love live</a>
                  <a href="/common/archive.html">tips</a> <a href="/common/archive.html">captions</a>
                </div>
              </section><!-- .widget_tag_cloud -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-3">
              <section class="widget widget_recent_entries">
                <h3 class="widget-title">Headline</h3>
                <ul>
                  <li>
                    <a href="/common/single.html">Beauty is not just what you see</a>
                    <span class="post-date">May 19, 2016</span>
                  </li>
                  <li>
                    <a href="/common/single.html">You say: Dont leave me, but you are gone. Liar</a>
                    <span class="post-date">May 9, 2016</span>
                  </li>
                  <li>
                    <a href="/common/single.html">You never know how beautiful you are</a>
                    <span class="post-date">May 5, 2016</span>
                  </li>
                </ul>
              </section><!-- .widget_recent_entries -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->

      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copy-left">
              Copyright © 2016 <a href="http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
              <ul class="social-icon">
                <li><a href="http://twitter.com/_templateninja" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Template-Ninja-1555671317979815" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/templateninja/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #copyright -->

    </div><!-- #page -->
	<input id="user_input" type="text" th:value="${param.error}" style="display:none">
	<div class="log-form" style="display:none">
	  <h2>Login to your account</h2>
	  <div th:if="${param.error}">
	   	<span style="color: red">Invalid username and password</span>
	  </div>
	  <div th:if="${param.logout}">
		<span style="color: red">You have been logged out</span>
	  </div>
	  <form th:action="@{/login}" method="post">
	    <input type="text" type="text" name="username" placeholder="username"/>
	    <input type="password" type="password" name="password" placeholder="password"/>
	    <button type="submit" class="btn">Login</button>
	    <button id="cancelbtn" type="button" class="btn">Cancel</button>
	    <a class="forgot" href="#">Forgot Username?</a>
	  </form>
	</div><!--end log form -->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/jquery.justifiedGallery.min.js"></script>
    <script src="assets/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/plugins/jquery.isotope.min.js"></script>
    <script src="assets/plugins/masonry.pkgd.min.js"></script>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/js/skip-link-focus-fix.js"></script>
    <script src="assets/js/script.js"></script>
	
	<!-- custom js function -->
	<script src="assets/js/index1.js" type="text/javascript"></script>
  </body>
</html>