<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <link href="assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="page">
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <!-- //site-title when you use logo image.
                  <h1 class="site-title title-image"><a href="index.html" rel="home"><img src="assets/img/danish-image-logo.png" alt="Danish."></a></h1>
                  -->
                  <h1 class="site-title"><a href="index.html" rel="home">Danish.</a></h1>
                  <!-- //site-description if you wanna use it.
                  <p class="site-description">Traveler and Young Designer //</p>
                  -->
                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Home</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="index.html">Home classic</a></li>
                          <li class="menu-item"><a href="index-classic-fullwidth.html">Home classic fullwidth</a></li>
                          <li class="menu-item"><a href="index-classic-fullwidth-alt.html">Home classic fullwidth alt.</a></li>
                          <li class="menu-item"><a href="index-grid-fullwidth.html">Home grid fullwidth</a></li>
                          <li class="menu-item"><a href="index-grid-sidebar.html">Home grid sidebar</a></li>
                          <li class="menu-item"><a href="index-list-fullwidth.html">Home list fullwidth</a></li>
                          <li class="menu-item"><a href="index-list-sidebar.html">Home list sidebar</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="about.html">About</a></li>
                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Blog</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="post-format.html">Post Formats</a></li>
                          <li class="menu-item"><a href="#">Post Single</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="single.html">Single</a></li>
                              <li class="menu-item"><a href="single-quote.html">Single Quote</a></li>
                              <li class="menu-item"><a href="single-gallery.html">Single Gallery</a></li>
                              <li class="menu-item"><a href="single-video.html">Single Video</a></li>
                              <li class="menu-item"><a href="single-audio.html">Single Audio</a></li>
                              <li class="menu-item"><a href="single-image.html">Single Image</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Portfolio</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="portfolio.html">Portfolio</a></li>
                          <li class="menu-item"><a href="single-portfolio.html">Portfolio Single</a></li>
                          <li class="menu-item"><a href="archive-portfolio.html">Portfolio Archive</a></li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="archive.html">Archive</a></li>
                          <li class="menu-item"><a href="category.html">Category</a></li>
                          <li class="menu-item"><a href="search.html">Search</a></li>
                          <li class="menu-item"><a href="page.html">Page</a></li>
                          <li class="menu-item"><a href="404.html">404 Page</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->

      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2>Portfolio. <span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
      
            <section id="portfolio" class="portfolio-page">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="nav nav-pills portfolio-sort">
                      <li class="active" data-filter="*"><a href="#"> All </a></li>
                      <li data-filter=".flower"><a href="#">Flower</a></li>
                      <li data-filter=".photography"><a href="#">Photography</a></li>
                      <li data-filter=".web"><a href="#">Web</a></li>
                      <li data-filter=".women"><a href="#">Women</a></li>
                      <li data-filter=".wordpress"><a href="#">WordPress</a></li>
                    </ul>

                    <ul class="list-unstyled container-portfolio wrapper-portfolio isotope">
                      <li class="women isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-01.jpg" class="img-responsive" alt="danish-portfolio-cover-01">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Women</a>
                              </span>
                              <h3>Women street <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li>
                                                            
                      <li class="photography isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-02.jpg" class="img-responsive" alt="danish-portfolio-cover-02">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Photography</a>
                              </span>
                              <h3>Ferris wheel <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->           
                      <li class="women isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-03.jpg" class="img-responsive" alt="danish-portfolio-cover-03">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Women</a>
                              </span>
                              <h3>Female Climber <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->            
                      <li class="wordpress isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-04.jpg" class="img-responsive" alt="danish-portfolio-cover-04">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">WordPress</a>
                              </span>
                              <h3>Desert’s camels <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="flower women isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-05.jpg" class="img-responsive" alt="danish-portfolio-cover-05">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Flower</a>, <a href="archive-portfolio.html">Women</a>
                              </span>
                              <h3>The flower crown <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="women isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-06.jpg" class="img-responsive" alt="danish-portfolio-cover-06">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Women</a>
                              </span>
                              <h3>Come on, take a bath <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="photography women isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-07.jpg" class="img-responsive" alt="danish-portfolio-cover-07">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Photography</a>, <a href="archive-portfolio.html">Women</a>
                              </span>
                              <h3>Prewedding Session <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="photography isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-08.jpg" class="img-responsive" alt="danish-portfolio-cover-08">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Photography</a>
                              </span>
                              <h3>Do it your self <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="web wordpress isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-11.jpg" class="img-responsive" alt="danish-portfolio-cover-11">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Web</a>, <a href="archive-portfolio.html">WordPress</a>
                              </span>
                              <h3>Change his life <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="web isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-12.jpg" class="img-responsive" alt="danish-portfolio-cover-12">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Web</a>
                              </span>
                              <h3>Designing Landing Page <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="web wordpress isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-10.jpg" class="img-responsive" alt="danish-portfolio-cover-10">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Web</a>, <a href="archive-portfolio.html">WordPress</a>
                              </span>
                              <h3>Rebuilt Lemon Website <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="photography women isotope-item">
                        <div class="portfolio-item">
                          <img src="assets/img/danish-image-portfolio-09.jpg" class="img-responsive" alt="danish-portfolio-cover-09">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="archive-portfolio.html">Photography</a>, <a href="archive-portfolio.html">Women</a>
                              </span>
                              <h3>Women in her side of light <span>//</span></h3>
                              <a href="single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                    </ul><!-- .container-portfolio -->
                  </div><!-- .col-md-12 -->
                </div><!-- .row -->
              </div><!-- .container -->
            </section><!-- #portfolio -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <section class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                  <a href="archive.html">beauty</a> <a href="archive.html">destiny</a>
                  <a href="archive.html">happy</a> <a href="archive.html">inspiring</a>
                  <a href="archive.html">live</a> <a href="archive.html">love live</a>
                  <a href="archive.html">tips</a> <a href="archive.html">captions</a>
                </div>
              </section><!-- .widget_tag_cloud -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-3">
              <section class="widget widget_recent_entries">
                <h3 class="widget-title">Headline</h3>
                <ul>
                  <li>
                    <a href="single.html">Beauty is not just what you see</a>
                    <span class="post-date">May 19, 2016</span>
                  </li>
                  <li>
                    <a href="single.html">You say: Dont leave me, but you are gone. Liar</a>
                    <span class="post-date">May 9, 2016</span>
                  </li>
                  <li>
                    <a href="single.html">You never know how beautiful you are</a>
                    <span class="post-date">May 5, 2016</span>
                  </li>
                </ul>
              </section><!-- .widget_recent_entries -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->

      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copy-left">
              Copyright © 2016 <a href="http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
              <ul class="social-icon">
                <li><a href="http://twitter.com/_templateninja" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Template-Ninja-1555671317979815" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/templateninja/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #copyright -->

    </div><!-- #page -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/jquery.justifiedGallery.min.js"></script>
    <script src="assets/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/plugins/jquery.isotope.min.js"></script>
    <script src="assets/plugins/masonry.pkgd.min.js"></script>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/js/skip-link-focus-fix.js"></script>
    <script src="assets/js/script.js"></script>

  </body>
</html>