<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/magnific-popup.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="search search-results">
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  <!-- //site-title when you use logo image.
                  <h1 class="site-title title-image"><a href="index.html" rel="home"><img src="../assets/img/danish-image-logo.png" alt="Danish."></a></h1>
                  -->
                  <h1 class="site-title"><a href="/index.html" rel="home">Danish.</a></h1>
                  <!-- //site-description if you wanna use it.
                  <p class="site-description">Traveler and Young Designer //</p>
                  -->
                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Home</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/index.html">Home classic</a></li>
                          <li class="menu-item"><a href="/common/index-classic-fullwidth.html">Home classic fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-classic-fullwidth-alt.html">Home classic fullwidth alt.</a></li>
                          <li class="menu-item"><a href="/common/index-grid-fullwidth.html">Home grid fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-grid-sidebar.html">Home grid sidebar</a></li>
                          <li class="menu-item"><a href="/common/index-list-fullwidth.html">Home list fullwidth</a></li>
                          <li class="menu-item"><a href="/common/index-list-sidebar.html">Home list sidebar</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/common/about.html">About</a></li>
                      <li class="menu-item"><a href="/common/contact.html">Contact</a></li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Blog</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/post-format.html">Post Formats</a></li>
                          <li class="menu-item"><a href="#">Post Single</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/common/single.html">Single</a></li>
                              <li class="menu-item"><a href="/common/single-quote.html">Single Quote</a></li>
                              <li class="menu-item"><a href="/common/single-gallery.html">Single Gallery</a></li>
                              <li class="menu-item"><a href="/common/single-video.html">Single Video</a></li>
                              <li class="menu-item"><a href="/common/single-audio.html">Single Audio</a></li>
                              <li class="menu-item"><a href="/common/single-image.html">Single Image</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Portfolio</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/portfolio.html">Portfolio</a></li>
                          <li class="menu-item"><a href="/common/single-portfolio.html">Portfolio Single</a></li>
                          <li class="menu-item"><a href="/common/archive-portfolio.html">Portfolio Archive</a></li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/common/archive.html">Archive</a></li>
                          <li class="menu-item"><a href="/common/category.html">Category</a></li>
                          <li class="menu-item"><a href="/common/search.html">Search</a></li>
                          <li class="menu-item"><a href="/common/page.html">Page</a></li>
                          <li class="menu-item"><a href="/common/404.html">404 Page</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->

      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('../assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2>Search. <span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <header class="page-header">
                    <h1 class="page-title">Search results for: Creativity</h1>
                  </header>

                  <div class="row entry-container">
                    <div class="col-md-12">
                      <article class="post format-standard hentry entry-list">
                        <div class="row">
                          <div class="col-sm-6">
                            <img src="../assets/img/danish-image-post-01.jpg" class="img-responsive" alt="Conquered the rock with rock!">
                          </div><!-- .col-sm-6 -->
                          <div class="col-sm-6">
                            <div class="entry-list-title">
                              <h6 class="entry-cat"><a href="/common/archive.html">travel</a> </h6>
                              <h2 class="entry-title"><a href="/common/single.html" rel="bookmark">Conquered the rock with rock!</a></h2>
                            </div><!-- .entry-list-title -->

                            <div class="entry-meta">
                              <span class="posted-on">Posted on <a href="/common/single.html" rel="bookmark"><time class="entry-date published updated" datetime="2016-05-09">May 9, 2016</time></a></span>
                              <span class="byline"> by <span class="author vcard"><a class="url fn n" href="#">Brown</a></span></span>
                              <span class="reading-estimation">8 min read</span>
                            </div><!-- .entry-meta -->
                            
                            <div class="entry-summary">
                              <p>
                              <a href="/common/single.html" class="more-link">
                                <span class="moretext">Continue reading</span> <span class="screen-reader-text">Conquered the rock with rock!</span>
                              </a>
                              </p>
                            </div><!-- .entry-summary -->
                          </div><!-- .col-# -->
                        </div><!-- .entry-list -->
                      </article><!-- .post -->

                      <article class="post format-standard hentry entry-list">
                        <div class="row">
                          <div class="col-sm-6">
                            <img src="../assets/img/danish-image-post-03.jpg" class="img-responsive" alt="Beautiful forest at mount Sindoro">
                          </div><!-- .col-sm-6 -->
                          <div class="col-sm-6">
                            <div class="entry-list-title">
                              <h6 class="entry-cat"><a href="/common/archive.html">nature</a> </h6>
                              <h2 class="entry-title"><a href="/common/single.html" rel="bookmark">Beautiful forest at mount Sindoro</a></h2>
                            </div><!-- .entry-list-title -->

                            <div class="entry-meta">
                              <span class="posted-on">
                                Posted on <a href="/common/single.html" rel="bookmark"> <time class="entry-date" datetime="2016-05-26">April 12, 2016</time> </a>
                              </span><!-- .posted-on -->
                              <span class="byline">
                                by <span class="author vcard"><a class="url fn n" href="/common/archive.html">Danish</a></span>
                              </span><!-- .byline -->
                              <span class="reading-estimation">12 min read</span>
                            </div><!-- .entry-meta -->
                            
                            <div class="entry-summary">
                              <p>
                              <a href="/common/single.html" class="more-link">
                                <span class="moretext">Continue reading</span> <span class="screen-reader-text">Beautiful forest at mount Sindoro</span>
                              </a>
                              </p>
                            </div><!-- .entry-summary -->
                          </div><!-- .col-# -->
                        </div><!-- .entry-list -->
                      </article><!-- .post -->

                      <article class="post format-standard hentry entry-list">
                        <div class="row">
                          <div class="col-sm-6">
                            <img src="../assets/img/danish-image-post-06.jpg" class="img-responsive" alt="You say: Dont leave me, but you are gone. Liar">
                          </div><!-- .col-sm-6 -->
                          <div class="col-sm-6">
                            <div class="entry-list-title">
                              <h6 class="entry-cat"><a href="/common/archive.html">Love life</a> </h6>
                              <h2 class="entry-title"><a href="/common/single.html" rel="bookmark">You say: Dont leave me, but you are gone. Liar</a></h2>
                            </div><!-- .entry-list-title -->

                            <div class="entry-meta">
                              <span class="posted-on">
                                Posted on <a href="/common/single.html" rel="bookmark"> <time class="entry-date" datetime="2016-04-21">April 21, 2016</time> </a>
                              </span><!-- .posted-on -->
                              <span class="byline">
                                by <span class="author vcard"><a class="url fn n" href="/common/archive.html">Jane</a></span>
                              </span><!-- .byline -->
                              <span class="reading-estimation">12 min read</span>
                            </div><!-- .entry-meta -->
                            
                            <div class="entry-summary">
                              <p>
                              <a href="/common/single.html" class="more-link">
                                <span class="moretext">Continue reading</span> <span class="screen-reader-text">You say: Dont leave me, but you are gone. Liar</span>
                              </a>
                              </p>
                            </div><!-- .entry-summary -->
                          </div><!-- .col-# -->
                        </div><!-- .entry-list -->
                      </article><!-- .post -->

                      <article class="post format-standard hentry entry-list">
                        <div class="row">
                          <div class="col-sm-6">
                            <img src="../assets/img/danish-image-post-05.jpg" class="img-responsive" alt="Grow your own succulent anywhere">
                          </div><!-- .col-sm-6 -->
                          <div class="col-sm-6">
                            <div class="entry-list-title">
                              <h6 class="entry-cat"><a href="/common/archive.html">nature</a> </h6>
                              <h2 class="entry-title"><a href="/common/single.html" rel="bookmark">Grow your own succulent anywhere</a></h2>
                            </div><!-- .entry-list-title -->

                            <div class="entry-meta">
                              <span class="posted-on">
                                Posted on <a href="/common/single.html" rel="bookmark"> <time class="entry-date" datetime="2016-05-26">April 12, 2016</time> </a>
                              </span><!-- .posted-on -->
                              <span class="byline">
                                by <span class="author vcard"><a class="url fn n" href="/common/archive.html">Danish</a></span>
                              </span><!-- .byline -->
                              <span class="reading-estimation">12 min read</span>
                            </div><!-- .entry-meta -->
                            
                            <div class="entry-summary">
                              <p>
                              <a href="/common/single.html" class="more-link">
                                <span class="moretext">Continue reading</span> <span class="screen-reader-text">Grow your own succulent anywhere</span>
                              </a>
                              </p>
                            </div><!-- .entry-summary -->
                          </div><!-- .col-# -->
                        </div><!-- .entry-list -->
                      </article><!-- .post -->

                      <!-- navigation -->
                      <nav class="navigation pagination" role="navigation">
                        <h2 class="screen-reader-text">Posts navigation</h2>
                        <div class="nav-links">
                          <span class="page-numbers current">1</span>
                          <a class="page-numbers" href="#">2</a>
                          <span class="page-numbers dots">…</span>
                          <a class="page-numbers" href="#">4</a>
                          <a class="next page-numbers" href="#">Next</a>
                        </div><!-- .nav-links -->
                      </nav><!-- .navigation -->

                    </div><!-- .col-md-12 -->
                  </div><!-- .entry-container -->
                </div><!-- .col-md-8 -->

                <div class="col-md-4">
                  <section class="widget widget_search">
                    <form role="search" method="get" class="search-form" action="">
                    <label>
                      <span class="screen-reader-text">Search for:</span>
                      <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                    </form><!-- search-form -->
                  </section><!-- .widget_search -->

                  <section class="widget danish_widget_about">
                    <div class="about-author-container">
                      <img src="../assets/img/danish-image-about.jpg" alt="Danish Brown">
                      <div class="about-author-info">
                        <h2 class="widget-title">Danish Brown</h2>
                        <span class="author-subtitle">Young Designer</span>
                        <div class="author-description">
                          <p>Hello i’m danish. I’m 23 years old. I’m a girl who has long hair, big eyes with nice eyebrows, big…</p>
                          <a href="/common/about.html" class="more-link"><span class="moretext">More biography</span></a>
                        </div><!-- .author-description -->
                        <div class="author-footer">
                          <div class="author-social">
                            <a href="https://www.facebook.com/Template-Ninja-1555671317979815/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="http://twitter.com/_templateninja" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/templateninja/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                          </div><!-- .author-social -->
                        </div><!-- .author-footer -->
                      </div><!-- .about-author-info -->
                    </div><!-- .about-author-container -->
                  </section><!-- .danish_widget_about -->

                  <section class="widget danish_widget_popular_entries">
                    <h2 class="widget-title">Popular Posts</h2>
                    <ul>
                      <li>
                        <div class="popular-entry-container">
                          <div class="entry-image">
                            <img src="../assets/img/danish-image-post-thumbnail-01.jpg" alt="Prepare your luggage necessary">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/common/single.html" rel="bookmark">Prepare your luggage necessary when traveling</a>
                            </h4>
                            <span class="entry-category"><a href="/common/archive.html">Travel</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                      <li>
                        <div class="popular-entry-container ">
                          <div class="entry-image">
                            <img src="../assets/img/danish-image-post-thumbnail-02.jpg" alt="how beautiful you are">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title">
                              <a href="/common/single.html" rel="bookmark">You never know how beautiful you are</a>
                            </h4>
                            <span class="entry-category"><a href="/common/archive.html">Love Life</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                      <li>
                        <div class="popular-entry-container ">
                          <div class="entry-image">
                            <img src="../assets/img/danish-image-post-thumbnail-03.jpg" alt="Hey, autumn is coming!">
                          </div><!-- .entry-image -->
                          <div class="entry-content">
                            <h4 class="entry-title"><a href="/common/single.html" rel="bookmark">Hey, autumn is coming!</a></h4>
                            <span class="entry-category"><a href="/common/archive.html">Nature</a></span>
                            <span class="entry-datetime">May 8, 2016</span>
                          </div><!-- .entry-content -->
                        </div><!-- .popular-entry-container -->
                      </li>
                    </ul>
                  </section><!-- .danish_widget_popular_entries -->

                  <section class="widget widget_categories">
                    <h2 class="widget-title">Categories</h2>
                    <select name="cat" id="cat" class="postform">
                      <option value="-1">Select Category</option>
                      <option value="2">Inspiration&nbsp;&nbsp;(14)</option>
                      <option value="3">Love Life&nbsp;&nbsp;(41)</option>
                      <option value="4">Nature&nbsp;&nbsp;(13)</option>
                      <option value="5">Travel&nbsp;&nbsp;(16)</option>
                    </select>
                  </section><!-- .widget_categories -->

                </div><!-- .col-md-4 -->
              </div><!-- .row -->
            </div><!-- .container -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <section class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                  <a href="/common/archive.html">beauty</a> <a href="/common/archive.html">destiny</a>
                  <a href="/common/archive.html">happy</a> <a href="/common/archive.html">inspiring</a>
                  <a href="/common/archive.html">live</a> <a href="/common/archive.html">love live</a>
                  <a href="/common/archive.html">tips</a> <a href="/common/archive.html">captions</a>
                </div>
              </section><!-- .widget_tag_cloud -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-3">
              <section class="widget widget_recent_entries">
                <h3 class="widget-title">Headline</h3>
                <ul>
                  <li>
                    <a href="/common/single.html">Beauty is not just what you see</a>
                    <span class="post-date">May 19, 2016</span>
                  </li>
                  <li>
                    <a href="/common/single.html">You say: Dont leave me, but you are gone. Liar</a>
                    <span class="post-date">May 9, 2016</span>
                  </li>
                  <li>
                    <a href="/common/single.html">You never know how beautiful you are</a>
                    <span class="post-date">May 5, 2016</span>
                  </li>
                </ul>
              </section><!-- .widget_recent_entries -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->

      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copy-left">
              Copyright © 2016 <a href="http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
              <ul class="social-icon">
                <li><a href="http://twitter.com/_templateninja" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Template-Ninja-1555671317979815" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/templateninja/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #copyright -->

    </div><!-- #page -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../assets/plugins/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/jquery.justifiedGallery.min.js"></script>
    <script src="../assets/plugins/jquery.magnific-popup.min.js"></script>
    <script src="../assets/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="../assets/plugins/jquery.isotope.min.js"></script>
    <script src="../assets/plugins/masonry.pkgd.min.js"></script>
    <script src="../assets/js/navigation.js"></script>
    <script src="../assets/js/skip-link-focus-fix.js"></script>
    <script src="../assets/js/script.js"></script>

  </body>
</html>