<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/magnific-popup.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="error404">
    <div id="page" class="site">
      <div th:insert="header :: header"></div>

      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('../assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2>Not found. <span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <section class="error-404 not-found">
                    <header class="page-header">
                      <h1 class="page-title">Oops! That page can&rsquo;t be found.</h1>
                    </header><!-- .page-header -->

                    <div class="page-content text-center">
                      <p>It looks like nothing was found at this location. Maybe you can try one of another keyword to search</p>

                      <form role="search" method="get" class="search-form" action="">
                        <label>
                          <span class="screen-reader-text">Search for:</span>
                          <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                      </form>

                    </div><!-- .page-content -->
                  </section><!-- .error-404 -->
                </div><!-- .col-md-12-->
              </div><!-- .row -->
            </div><!-- .container -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- footer fragment -->
      <div th:insert="footer :: footer"></div>

    </div><!-- #page -->

  </body>
</html>