<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body>
	<aside th:fragment="adminSideBar">
		<div class="AdminSidebar__container">
			<div class="Logo">W</div>
			<div style="margin-left: 10px;margin-bottom: 20px">
				<h2 th:inline="text">Hello &nbsp;[[${#httpServletRequest.remoteUser}]]!</h2>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" />
				</form>
			</div>
			<nav class="AdminSidebar__nav">
				<ul class="AdminSidebar__list">
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="/admin/dashboard.html">dashboard
							<span class="Badge">5</span>
					</a>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">posts </a>
						<ul class="AdminSidebar__sublist">
							<li class="AdminSidebar__sublist__item"><a
								class="AdminSidebar__link" href="">all posts</a></li>
							<li class="AdminSidebar__sublist__item"><a
								class="AdminSidebar__link" href="">add new</a></li>
							<li class="AdminSidebar__sublist__item"><a
								class="AdminSidebar__link" href="">categories</a></li>
							<li class="AdminSidebar__sublist__item"><a
								class="AdminSidebar__link" href="">tags</a></li>
						</ul></li>
					</li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Media</a></li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Pages</a></li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Comments</a></li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Appearance</a></li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Plugins</a></li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Users</a></li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Tools</a></li>
					<li class="AdminSidebar__list__item"><a
						class="AdminSidebar__link" href="">Settings</a></li>
				</ul>
			</nav>
		</div>
	</aside>
	
	<aside th:fragment="detailsSidebar">
			<div class="Widget">
				<h2 class="Widget__title">
					Publish<span class="Widget__collapse">^</span>
				</h2>
				<p class="Widget__detail">
					<span>status: </span><span class="u-font-bold">draft</span>
				</p>
				<p class="Widget__detail">
					<span>visibility: </span><span class="u-font-bold">public</span>
				</p>
				<p class="Widget__detail">
					<span>publish: </span><span class="u-font-bold">immediately</span>
				</p>
				<div class="Widget__buttons">
					<div class="Button Button--primary">publish</div>
					<div class="Button">move to trash</div>
				</div>
			</div>
			<div class="Widget">
				<h2 class="Widget__title">
					Category<span class="Widget__collapse">^</span>
				</h2>
				<ul class="OptionsList js-OptionsList">
					<li class="OptionsList__item" role="checkbox">design</li>
					<li class="OptionsList__item" role="checkbox">front end</li>
					<li class="OptionsList__item" role="checkbox">rails</li>
					<li class="OptionsList__item" role="checkbox">video</li>
					<li class="OptionsList__item" role="checkbox">article</li>
				</ul>
			</div>
			<div class="Widget">
				<h2 class="Widget__title">
					Tags<span class="Widget__collapse">^</span>
				</h2>
				<ul class="OptionsList js-OptionsList">
					<li class="OptionsList__item is-selected" role="checkbox">blah
						blah tag</li>
					<li class="OptionsList__item is-selected" role="checkbox">another
						one</li>
					<li class="OptionsList__item is-selected" role="checkbox">another
						one</li>
					<li class="OptionsList__item is-selected" role="checkbox">another
						one</li>
					<li class="OptionsList__item is-selected" role="checkbox">hello
						world</li>
					<li class="OptionsList__item is-selected" role="checkbox">video</li>
				</ul>
			</div>
		</aside>
</body>
</html>