<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href='../assets/css/backstage.css?family=Raleway:400,500,500italic,600,700,400italic'
	rel='stylesheet' type='text/css'>
<!-- Buttons 库的核心文件 -->
<link href='../assets/css/buttons.css' rel='stylesheet' type='text/css'>
<link href="../assets/css/font-awesome.min.css" rel="stylesheet">

<title>Insert title here</title>
</head>
<body>

	<div class="page-wrapper">
		<aside th:insert="adminSideBar :: adminSideBar" class="AdminSidebar"></aside>
		<div class="PostEditor">
			<div class="PostEditor__container">
				<ul class="EditOptions js-postEditOptions" style="display: none;">
					<li class="EditOptions__item u-font-bold">B</li>
					<li class="EditOptions__item u-font-italic">i</li>
					<li class="EditOptions__item">H1</li>
					<li class="EditOptions__item">H2</li>
					<li class="EditOptions__item">H3</li>
				</ul>
				<div class="PostEditor__title" contentEditable="true">Flexbox
					is awesome</div>
				<textarea class="PostEditor__textarea js-PostEditor__textarea"
					spellcheck="false"></textarea>
			</div>
		</div>
		<aside th:insert="adminSideBar :: detailsSidebar" class="DetailsSidebar"></aside>
	</div>
	<script src="../assets/js/bliss.min.js"></script>
	<script src="../assets/js/backstage.js"></script>
</body>
</html>