<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
	content="Responsive personal blog and portfolio template">
<meta name="keywords"
	content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
<meta name="author" content="template ninja">
<title>Danish</title>

<!-- Bootstrap -->
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link
	href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,600'
	rel='stylesheet' type='text/css'>
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/css/magnific-popup.css" rel="stylesheet">
<link href="assets/css/style.min.css" rel="stylesheet">
<link href="assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

<!-- LESS -->
<link rel="stylesheet/less" type="text/css"
	href="assets/less/dialog.less" />
<script>
	  less = {
	    env: "development",
	    async: false,
	    fileAsync: false,
	    poll: 1000,
	    functions: {},
	    dumpLineNumbers: "comments",
	    relativeUrls: false,
	    rootpath: ":/a.com/"
	  };
	</script>
<script src="assets/js/less.min.js" type="text/javascript"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home blog">
	
	<!-- login page -->
	<div th:fragment="login">
	<input id="user_input" type="text" th:value="${param.error}"
		style="display: none">
	<div class="log-form" style="display: none">
		<h2>Login to your account</h2>
		<div style="height: 25px">
			<!-- 行高占位，防止渐隐效果执行后，窗口分辨率自动缩小 -->
			<div th:if="${param.error}">
				<span class="loginMsg"
					style="color: red; margin-left: 10px; display: none">Invalid
					username and password</span>
			</div>
			<div th:if="${param.logout}">
				<span class="loginMsg"
					style="color: red; margin-left: 10px; display: none">You
					have been logged out</span>
			</div>
		</div>
		<form th:action="@{/login}" method="post">
			<input type="text" name="username" placeholder="username" />
			<input type="password" name="password"
				placeholder="password" />
			<button type="submit" class="btn">Login</button>
			<button id="cancelbtn" type="button" class="btn">Cancel</button>
			<a class="forgot" href="#">Forgot Username?</a>
		</form>
	</div>
	<!--end log form -->

	<!-- custom js function -->
	<script src="assets/js/index1.js" type="text/javascript"></script>
	</div>
</body>
</html>