<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/magnific-popup.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="page">
    <div id="page" class="site">
      <div th:insert="header :: header"></div>

      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('../assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2>Portfolio. <span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
      
            <section id="portfolio" class="portfolio-page">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="nav nav-pills portfolio-sort">
                      <li class="active" data-filter="*"><a href="#"> All </a></li>
                      <li data-filter=".flower"><a href="#">Flower</a></li>
                      <li data-filter=".photography"><a href="#">Photography</a></li>
                      <li data-filter=".web"><a href="#">Web</a></li>
                      <li data-filter=".women"><a href="#">Women</a></li>
                      <li data-filter=".wordpress"><a href="#">WordPress</a></li>
                    </ul>

                    <ul class="list-unstyled container-portfolio wrapper-portfolio isotope">
                      <li class="women isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-01.jpg" class="img-responsive" alt="danish-portfolio-cover-01">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Women</a>
                              </span>
                              <h3>Women street <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li>
                                                            
                      <li class="photography isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-02.jpg" class="img-responsive" alt="danish-portfolio-cover-02">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Photography</a>
                              </span>
                              <h3>Ferris wheel <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->           
                      <li class="women isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-03.jpg" class="img-responsive" alt="danish-portfolio-cover-03">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Women</a>
                              </span>
                              <h3>Female Climber <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->            
                      <li class="wordpress isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-04.jpg" class="img-responsive" alt="danish-portfolio-cover-04">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">WordPress</a>
                              </span>
                              <h3>Desert’s camels <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="flower women isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-05.jpg" class="img-responsive" alt="danish-portfolio-cover-05">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Flower</a>, <a href="/common/archive-portfolio.html">Women</a>
                              </span>
                              <h3>The flower crown <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="women isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-06.jpg" class="img-responsive" alt="danish-portfolio-cover-06">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Women</a>
                              </span>
                              <h3>Come on, take a bath <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="photography women isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-07.jpg" class="img-responsive" alt="danish-portfolio-cover-07">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Photography</a>, <a href="/common/archive-portfolio.html">Women</a>
                              </span>
                              <h3>Prewedding Session <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="photography isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-08.jpg" class="img-responsive" alt="danish-portfolio-cover-08">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Photography</a>
                              </span>
                              <h3>Do it your self <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="web wordpress isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-11.jpg" class="img-responsive" alt="danish-portfolio-cover-11">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Web</a>, <a href="/common/archive-portfolio.html">WordPress</a>
                              </span>
                              <h3>Change his life <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="web isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-12.jpg" class="img-responsive" alt="danish-portfolio-cover-12">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Web</a>
                              </span>
                              <h3>Designing Landing Page <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="web wordpress isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-10.jpg" class="img-responsive" alt="danish-portfolio-cover-10">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Web</a>, <a href="/common/archive-portfolio.html">WordPress</a>
                              </span>
                              <h3>Rebuilt Lemon Website <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                      <li class="photography women isotope-item">
                        <div class="portfolio-item">
                          <img src="../assets/img/danish-image-portfolio-09.jpg" class="img-responsive" alt="danish-portfolio-cover-09">
                          <div class="portfolio-caption">
                            <div class="portfolio-text">
                              <span class="portfolio-meta">
                                <a href="/common/archive-portfolio.html">Photography</a>, <a href="/common/archive-portfolio.html">Women</a>
                              </span>
                              <h3>Women in her side of light <span>//</span></h3>
                              <a href="/common/single-portfolio.html" class="btn btn-sm btn-danish">View &raquo;</a>
                            </div><!-- .portfolio-text -->
                          </div><!-- .portfolio-caption -->
                        </div><!-- .portfolio-item -->
                      </li><!-- .isotope-item -->
                    </ul><!-- .container-portfolio -->
                  </div><!-- .col-md-12 -->
                </div><!-- .row -->
              </div><!-- .container -->
            </section><!-- #portfolio -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- site-footer -->
      <div th:insert="footer :: footer"></div>

    </div><!-- #page -->

  </body>
</html>