<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive personal blog and portfolio template">
    <meta name="keywords" content="danish, bootstrap, bootstrap theme, responsive, personal blog, portfolio">
    <meta name="author" content="template ninja">
    <title>Danish</title>

    <!-- Bootstrap -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/magnific-popup.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link href="../assets/css/skin/skin-skyblue.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="archive category">
    <div id="page" class="site">
      <div th:insert="header :: header"></div>

      <!-- #header -->
      <section id="header" class="heading" style="background-image: url('../assets/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title-desc">
                <h2>Prewedding Session <span>//</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-md-12">
                      <article class="post-type-portfolio">
                        <header class="entry-header">
                          <div class="heading-title"><h1 class="entry-title">Prewedding Session</h1></div>
                        </header><!-- .entry-header -->
                        <div class="entry-content">
                          <div id="portfolio-gallery" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#portfolio-gallery" data-slide-to="0" class=""></li>
                              <li data-target="#portfolio-gallery" data-slide-to="1" class=""></li>
                              <li data-target="#portfolio-gallery" data-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                              <div class="item">
                                <img src="../assets/img/danish-image-portfolio-08.jpg" alt="">
                              </div>
                              <div class="item">
                                <img src="../assets/img/danish-image-portfolio-09.jpg" alt="">
                              </div>
                              <div class="item active">
                                <img src="../assets/img/danish-image-portfolio-11.jpg" alt="">
                              </div>
                            </div>
                          </div>
                          <p>The literature on creativity suggests that there are at least a few personality traits that promote creative behavior, such as openness, a willingness to take risks and an ability to tolerate ambiguity and cope with novel situations.</p>
                          <p>Balancing a composition involves arranging both positive elements and negative space in such a way that no one area of the design overpowers other areas. Everything works together and fits together in a seamless whole. The individual parts contribute to their sum but don’t try to become the sum.&nbsp;An unbalanced composition can lead to tension. When a design is unbalanced, the individual elements dominate the whole and the composition becomes less than the sum of its parts. In some projects, unbalanced might be right for the message you’re trying to communicate, but generally you want balanced compositions.</p>
                        </div><!-- .entry-content -->
                      </article><!-- #post-## -->
                    </div><!-- .col-md-12 -->
                  </div><!-- .row -->
                </div><!-- .col-sm-8 -->

                <div class="col-sm-4 sidebar">
                  <aside class="widget-area">
                    <section class="widget">
                      <h2 class="widget-title">Overview</h2>
                      <p>Your overview of your work goes here. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
                      <ul class="text-capitalize">
                        <li><strong>Client:</strong> <span>Codemagna</span></li>
                        <li><strong>Service:</strong> <span>Photography, Cinematography</span></li>
                        <li><strong>Category:</strong> <span><a href="/common/archive-portfolio.html">Photography</a>, <a href="/common/archive-portfolio.html">Women</a></span></li>
                      </ul>
                    </section><!-- .widget -->

                    <section class="widget">
                      <h2 class="widget-title">What We Have Done</h2>
                      <ul>
                        <li>Trying to communicate</li>
                        <li>Positive elements and negative space</li>
                        <li>Balancing a composition involves</li>
                        <li>The literature on creativity</li>
                      </ul>
                    </section><!-- .widget -->

                    <section class="widget">
                      <h2 class="widget-title">Credits</h2>
                       <ul>
                        <li>http://getbootstrap.com</li>
                        <li>http://unsplash.com</li>
                      </ul>
                    </section><!-- .widget -->

                    <a href="http://templateninja.net/" target="_blank" class="btn btn-lg btn-danish">See The Demo</a>
                  </aside><!-- .widget-area -->
                </div><!-- .col-sm-4 -->
              </div><!-- .row -->
            </div><!-- .container -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- partner -->
      <section id="partner" class="section-partner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled brand-img">
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>      
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-01.png" alt="Everest"></div>
                </li>   
                <li>
                  <div class="brand-container"><img src="../assets/img/danish-image-client-02.png" alt="Lemon juice"></div>
                </li>
              </ul>
            </div><!-- .col-md-12 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #partner -->

      <!-- site-footer -->
      <div th:insert="footer :: footer"></div>

    </div><!-- #page -->

  </body>
</html>